extends layout

block content
    h1 Enter a message
    form(action="/new", method="post" class="newMessageForm") 
        label(for="messageUser") Name
        input(type="text" name="messageUser" id="messageUser" required maxLength="50")
        label(for="messageText") Message
        textarea(name="messageText", cols="30", rows="3" id="messageText" maxLength="250")
        input(type="submit", value="Submit")